<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{deal.dealName}}">
  <ion-content class="list-card">
    <div class="item item-image">
        <img ng-src="{{deal.dealPic}}" style="height:40%;width:auto;">
    </div>
    <br>

    <div class="row">
      <div class="col col-25">
        <button class="button button-large" ng-click="minus()">
          <i class="icon ion-minus-circled"></i>
        </button>
       
      </div>
      <div class="col col-50">
        <label class="item item-input">
          <input type="text" value="{{num}}" id="numpicker">
        </label>
      </div>
      <div class="col col-25">
        <button class="button button-large" ng-click="plus()">
          <i class="icon ion-plus-circled"></i>
        </button>
      </div>
    </div>

    <br>
    <button ng-click="order({{deal.id}})"  class="button button-full button-balanced">
        GET IT!
    </button>
    
    <div class="list">
        <li class="item">Slots left:  {{deal.numNeed}}</li>
        <li class="item">Time left:  00:30</li>
        <li class="item">Price: <font style="text-decoration: line-through;">{{deal.origin}}</font>&nbsp;
        <font>{{deal.discounted}}</font>&nbsp;
          <a class="button button-small button-assertive discountBtn">{{deal.discount}}% off</a></li>
        <li class="item">Location:  {{deal.location}}</li>
    </div>
  </ion-content>
</ion-view>
