
<ion-view view-title="New Deal">
  <ion-content>
 
    <div class="list">
        <div class="row row-center">
          <div class="deal-photo-new col col-40">
            <img ng-show="img" ng-src="{{imgURL}}" width="140px">
            
            <button ng-show="!img" class="button button-outline button-stable addPhoto" ng-click="takePicture()">Add Picture</button>
          </div>
          <div class="col col-offset-10 col-50 newDeal">
            <input type="text" placeholder="Deal Name" ng-model="dealName" name="dealName">
          </div>
        </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Original Price</span>
        <input type="text" placeholder="Original Price" ng-model="oriPrice" name="oriPrice">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Discounted Price</span>
        <input type="text" placeholder="Discounted Price" ng-model="disPrice" name="disPrice">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Slot Left</span>
        <input type="number" placeholder="Slot Left" ng-model="slot" name="slot">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Location</span>
        <input type="text" placeholder="Location" ng-model="loc" name="loc">
      </label>
      <button class="button button-full button-positive" ng-click="addDeal(dealName, oriPrice, disPrice, slot, loc)">
        Post new deal
      </button>
    </div>
    
  </ion-content>
</ion-view>
