/* Empty. Add your own CSS if you like */

/* STYLE FOR LOGIN PAGE */
.login-icon {
	padding-top: 50px;
	padding-bottom: 70px;
}


.center {position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    }

.deal-photo-new {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}